body {
    font: large 'Menlo', sans-serif;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

h1 {
    font-size: 150%;
    font-style: oblique 60deg;
    font-weight: bold;
}

form {
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
}

input[type=text] {
    font-size: 100%
    width: 300px;
    height: 100px;
    word-wrap: break-word;

/* results section is invisible */
section#results {
    display: none;
}
    
table {
    border-collapse: collapse;
    margin-bottom: 30px;
}
    
table thead td {
    font-weight: bold;
}
    
table td {
    border: 1px solid black;
    padding: 5px, 8px;
}
